In [1]:
import pandas as pd
import numpy as np
import sklearn.preprocessing as sp

In [2]:
data1=np.random.randint(0,100,size=50)
data2=np.random.randint(100,1000,size=50)

In [3]:
df=pd.DataFrame([data1,data2])
df=df.T

In [4]:
df.head(10)

    0    1
0  99  129
1  63  757
2  80  503
3  52  361
4  24  701
5  57  136
6  51  533
7  73  838
8   7  905
9   2  861

In [5]:
df.describe()

               0           1
count  50.000000   50.000000
mean   51.940000  529.020000
std    28.998529  259.162741
min     0.000000  126.000000
25%    29.000000  346.000000
50%    53.500000  510.500000
75%    71.750000  769.000000
max    99.000000  991.000000

# Rescaling

# $$x^*=\frac{x-x_{min}}{x_{max}-x_{min}}$$

In [6]:
FS_1=sp.MinMaxScaler().fit(df)
result_minmax=FS_1.transform(df)

In [7]:
result_minmax

array([[1.        , 0.00346821],
       [0.63636364, 0.72947977],
       [0.80808081, 0.43583815],
       [0.52525253, 0.2716763 ],
       [0.24242424, 0.66473988],
       [0.57575758, 0.01156069],
       [0.51515152, 0.47052023],
       [0.73737374, 0.82312139],
       [0.07070707, 0.90057803],
       [0.02020202, 0.84971098],
       [0.28282828, 0.51791908],
       [0.64646465, 0.06820809],
       [0.65656566, 0.38034682],
       [0.88888889, 0.14450867],
       [0.25252525, 0.2867052 ],
       [0.93939394, 0.29479769],
       [0.28282828, 0.45317919],
       [0.8989899 , 0.35375723],
       [0.88888889, 0.34219653],
       [0.45454545, 0.12254335],
       [0.53535354, 0.24855491],
       [0.15151515, 0.61156069],
       [0.02020202, 0.38150289],
       [0.32323232, 0.82312139],
       [0.91919192, 0.99768786],
       [0.98989899, 0.21734104],
       [0.54545455, 0.52601156],
       [0.50505051, 0.67745665],
       [0.03030303, 0.46705202],
       [0.07070707, 0.21618497],
       [0.67676768, 0.03121387],
       [0.67676768, 0.86820809],
       [0.86868687, 0.07745665],
       [0.12121212, 0.30057803],
       [0.63636364, 0.06820809],
       [0.88888889, 0.32254335],
       [0.54545455, 0.        ],
       [0.54545455, 0.43236994],
       [0.41414141, 1.        ],
       [0.64646465, 0.2867052 ],
       [0.35353535, 0.74797688],
       [0.53535354, 0.52716763],
       [0.25252525, 0.89248555],
       [0.43434343, 0.76069364],
       [0.8989899 , 0.64971098],
       [0.88888889, 0.05549133],
       [0.34343434, 0.98265896],
       [0.68686869, 0.49710983],
       [0.4040404 , 0.75144509],
       [0.        , 0.75260116]])

# Standardization

# $$x^*=\frac{x-\mu}{\sigma}$$

In [8]:
FS_2=sp.StandardScaler().fit(df)
result_std=FS_2.transform(df)

In [9]:
result_std

array([[ 1.63931689, -1.55917946],
       [ 0.38527082,  0.8886099 ],
       [ 0.97745924, -0.10141955],
       [ 0.00209008, -0.65490059],
       [-0.97327909,  0.67033569],
       [ 0.17626314, -1.53189518],
       [-0.03274454,  0.01551306],
       [ 0.73361695,  1.20432795],
       [-1.56546751,  1.46547746],
       [-1.73964058,  1.29397629],
       [-0.83394064,  0.17532096],
       [ 0.42010543, -1.34090525],
       [ 0.45494005, -0.28851173],
       [ 1.25613615, -1.0836535 ],
       [-0.93844448, -0.60422979],
       [ 1.43030921, -0.57694551],
       [-0.83394064, -0.04295325],
       [ 1.29097076, -0.37816007],
       [ 1.25613615, -0.41713761],
       [-0.24175222, -1.15771082],
       [ 0.03692469, -0.73285566],
       [-1.28679061,  0.49103902],
       [-1.73964058, -0.28461398],
       [-0.69460219,  1.20432795],
       [ 1.36063999,  1.79288877],
       [ 1.60448228, -0.83809501],
       [ 0.0717593 ,  0.20260524],
       [-0.06757915,  0.71321098],
       [-1.70480597,  0.0038198 ],
       [-1.56546751, -0.84199277],
       [ 0.52460927, -1.46563337],
       [ 0.52460927,  1.35634035],
       [ 1.18646692, -1.30972322],
       [-1.39129445, -0.55745674],
       [ 0.38527082, -1.34090525],
       [ 1.25613615, -0.48339942],
       [ 0.0717593 , -1.57087272],
       [ 0.0717593 , -0.11311281],
       [-0.38109067,  1.80068428],
       [ 0.42010543, -0.60422979],
       [-0.59009835,  0.95097396],
       [ 0.03692469,  0.20650299],
       [-0.93844448,  1.43819318],
       [-0.31142144,  0.99384925],
       [ 1.29097076,  0.61966489],
       [ 1.25613615, -1.38378054],
       [-0.62493296,  1.74221797],
       [ 0.55944389,  0.1051614 ],
       [-0.41592528,  0.96266722],
       [-1.80930981,  0.96656498]])

In [10]:
result_std[:,1].mean()

np.float64(8.659739592076221e-17)

In [11]:
result_std[:,1].std()

np.float64(1.0)